<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="local-artifacts" value="../../artifacts" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local-artifacts">
      <package pattern="xkbcommon-dotnet" />
    </packageSource>
  </packageSourceMapping>
</configuration>
